/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #2F2F2F;
  height: 100%;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}


// Define breakpoints map
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px
);

@mixin respond($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in \$breakpoints map.";
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;

  @each $label, $size in $breakpoints {
    @media (min-width: $size) {
      max-width: $size;
    }
  }
}


.btn {
  background: #fff;
  border-radius: 25px;
  color: #2F2F2F;
  display: inline-block;
  padding: 10px 15px;
}

.btn-bordered {
  background: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  color: #2F2F2F;
  display: inline-block;
  font-weight: 600;
  padding: 18px 15px;
}

.btn-icon {
  background: #FFB703;
  border-radius: 30px;
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 3px 5px 3px 3px;

  &__text {
    background: #023047;
    border-radius: 25px;
    padding: 16px 20px;
  }

  &__icon {
    background: #fff;
    border-radius: 50px;
    display: block;
    padding: 11px 10px 11px 14px;
  }

  &__icon-alt {
    background: #fff;
    border-radius: 50px;
    display: block;
    padding: 11px 13px;
  }

  &__img {
    display: block;
  }
}


.head {
  font-size: 18px;
  padding: 50px 0 30px;
}

.head-grid {
  background: #FFB703;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.head-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 500;
  margin-top: -43px;
  margin-bottom: -43px;
}

.head-nav {
  display: flex;
  align-items: center;
  gap: 10px;

  > a {
    border-radius: 25px;
    padding: 10px 15px;

    &:hover {
      background: #fff;
    }
  }
}

.cta {
  padding: 30px 0 0;
}

.cta-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
}

.cta-col {
  &:nth-child(1) {
    flex: 0 0 40%;
  }

  &:nth-child(2) {
    flex: 0 0 34%;
  }
}

.cta-title {
  font-size: 40px;
  font-weight: 500;

  &__first {
    border: 2px dashed rgba(#2F2F2F, .3);
    border-radius: 10px;
    color: #000;
    display: inline-block;
    font-size: 70px;
    padding: 0 5px;
    margin-bottom: 15px;
  }

  &__name {
    color: #FB8500;
  }
}

.cta__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cta__img {
  display: block;
}

.about {
  background: #2F2F2F;
  color: #fff;
  padding: 100px 0;

  p {
    font-size: 20px;
  }
}

.about-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.about-col {
  &:nth-child(1) {
    flex: 0 0 33%;
  }

  &:nth-child(2) {
    flex: 0 0 35%;
  }
}

.about-title {
  font-size: 38px;
  font-weight: 500;

  &__first {
    font-size: 26px;
    font-weight: 400;
  }

  &__name {
    color: #FB8500;
  }
}

.tools {
  background: #FBFBFB;
  padding: 100px 0;
  text-align: center;
}

.tools-title {
  &__first {
    font-size: 26px;
    font-weight: 400;
  }

  &__mid {
    color: #FB8500;
    font-size: 50px;
    font-weight: 300;
    font-style: italic;
  }

  &__last {
    font-weight: 700;
    font-size: 48px;
  }
}

.tools-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tools-item {
}

.tools-item__picture {
  background: #F6F6F6;
  border: 1px solid #DDDBDB;
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 15px
}

.tools-item__img {
  display: block;
  margin-bottom: 15px
}

.tools-item__percentage {
  font-size: 32px;
  font-weight: 400;
}

.tools-item__title {
  font-size: 18px;
  font-weight: 400;
}

.projects {
  background: #F6F6F6;
  padding: 100px 0;
}

.projects-title {
  font-size: 38px;
  font-weight: 500;

  &__first {
    font-size: 26px;
    font-weight: 400;
  }

  &__last {
    color: #FB8500;
  }
}

.projects-grid {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 30px;
}

.projects-col {
  flex: 1;
}

.projects-item {
  background: #fff;
  border-radius: 25px;
  padding: 20px;
}

.projects-item__link {
  display: block;
  margin-bottom: 15px;
}

.projects-item__img {
  display: block;
}

.projects-item__tags {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 5px;
  margin-bottom: 15px;

  > a {
    background: #FFB703;
    border-radius: 60px;
    color: #2F2F2F;
    padding: 5px 10px;
  }
}

.projects-item__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.projects-item__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.projects-item__btn {
  background: #FB8500;
  border-radius: 50px;
  display: block;
  padding: 8px;
  flex: 0 0 36px;

  > img {
    display: block;
  }
}

.experience {
  background: #1E1E1E;
  color: #fff;
  padding: 100px 0;
}

.experience-title {
  font-size: 38px;
  font-weight: 500;
  text-align: center;

  &__first {
    font-size: 26px;
    font-weight: 400;
  }

  &__last {
    color: #FB8500;
  }
}

.contact {
  padding: 100px 0;
}

.contact-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-col {
  &:nth-child(1) {
    flex: 0 0 50%;
  }

  &:nth-child(2) {
    flex: 0 0 40%;
  }
}

.contact-title {
  font-size: 50px;
  font-weight: 700;

  &__first {
    color: #FB8500;
    font-weight: 400;
    font-style: italic;
  }
}

.form__title {
  font-weight: 500;
}

.form-field {
  margin-bottom: 20px;
}

.input {
  background: #F1F1F1;
  border-radius: 5px;
  color: #1E1E1E;
  padding: 10px;

  &::placeholder {
    color: #1E1E1E;
  }
}

.input-full {
  display: block;
  width: 100%;
}

.foot {
  background: #F4F4F4;
  padding: 30px 0;
}

.foot-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.foot-nav {
  display: flex;
  gap: 15px;
}

.foot-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  > a {
    background: #FB8500;
    border-radius: 50px;
    display: block;
    padding: 10px;

    > img {
      display: block;
      width: 26px;
    }
  }
}
