/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #2F2F2F;
  height: 100%;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.btn {
  background: #fff;
  border-radius: 25px;
  color: #2F2F2F;
  display: inline-block;
  padding: 10px 15px;
}

.btn-bordered {
  background: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  color: #2F2F2F;
  display: inline-block;
  font-weight: 600;
  padding: 18px 15px;
}

.btn-icon {
  background: #FFB703;
  border-radius: 30px;
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 3px 5px 3px 3px;
}
.btn-icon__text {
  background: #023047;
  border-radius: 25px;
  padding: 16px 20px;
}
.btn-icon__icon {
  background: #fff;
  border-radius: 50px;
  display: block;
  padding: 11px 10px 11px 14px;
}
.btn-icon__icon-alt {
  background: #fff;
  border-radius: 50px;
  display: block;
  padding: 11px 13px;
}
.btn-icon__img {
  display: block;
}

.head {
  font-size: 18px;
  padding: 50px 0 30px;
}

.head-grid {
  background: #FFB703;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.head-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 500;
  margin-top: -43px;
  margin-bottom: -43px;
}

.head-nav {
  display: none;
  align-items: center;
  gap: 10px;
}
.head-nav > a {
  border-radius: 25px;
  padding: 10px 15px;
}
.head-nav > a:hover {
  background: #fff;
}
@media (min-width: 1024px) {
  .head-nav {
    display: flex;
  }
}

.cta {
  padding: 30px 0 0;
  text-align: center;
}
@media (min-width: 768px) {
  .cta {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .cta {
    text-align: left;
  }
}

.cta-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
}
@media (min-width: 1024px) {
  .cta-grid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .cta-col:nth-child(1) {
    flex: 0 0 50%;
  }
}
@media (min-width: 1024px) {
  .cta-col:nth-child(1) {
    flex: 0 0 40%;
  }
}
@media (min-width: 1024px) {
  .cta-col:nth-child(2) {
    flex: 0 0 50%;
  }
}
@media (min-width: 1280px) {
  .cta-col:nth-child(2) {
    flex: 0 0 34%;
  }
}

.cta-title {
  font-size: 40px;
  font-weight: 500;
}
.cta-title__first {
  border: 2px dashed rgba(47, 47, 47, 0.3);
  border-radius: 10px;
  color: #000;
  display: inline-block;
  font-size: 70px;
  padding: 0 5px;
  margin-bottom: 15px;
}
.cta-title__name {
  color: #FB8500;
}

.cta__nav {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1024px) {
  .cta__nav {
    padding-bottom: 35px;
  }
}

.cta__img {
  display: block;
}

.about {
  background: #2F2F2F;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}
.about p {
  font-size: 20px;
}
@media (min-width: 1024px) {
  .about {
    text-align: left;
  }
}

.about-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (min-width: 1024px) {
  .about-grid {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.about-col:nth-child(1) {
  flex: 0 0 33%;
}
.about-col:nth-child(2) {
  flex: 0 0 35%;
}

.about-title {
  font-size: 38px;
  font-weight: 500;
}
.about-title__first {
  font-size: 26px;
  font-weight: 400;
}
.about-title__name {
  color: #FB8500;
}

.tools {
  background: #FBFBFB;
  padding: 100px 0;
  text-align: center;
}

.tools-title__first {
  font-size: 26px;
  font-weight: 400;
}
.tools-title__mid {
  color: #FB8500;
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
}
.tools-title__last {
  font-weight: 700;
  font-size: 48px;
}

.tools-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tools-col {
  flex: 0 0 45%;
}
@media (min-width: 640px) {
  .tools-col {
    flex: 0 0 30%;
  }
}
@media (min-width: 768px) {
  .tools-col {
    flex: 0 0 20%;
  }
}
@media (min-width: 1280px) {
  .tools-col {
    flex: 0 0 10%;
  }
}

.tools-item {
  text-align: center;
}

.tools-item__picture {
  background: #F6F6F6;
  border: 1px solid #DDDBDB;
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 15px;
}

.tools-item__img {
  display: inline-block;
  margin-bottom: 15px;
}

.tools-item__percentage {
  font-size: 32px;
  font-weight: 400;
}

.tools-item__title {
  font-size: 18px;
  font-weight: 400;
}

.projects {
  background: #F6F6F6;
  padding: 100px 0;
}

.projects-title {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.projects-title__first {
  font-size: 26px;
  font-weight: 400;
}
.projects-title__last {
  color: #FB8500;
}
@media (min-width: 1536px) {
  .projects-title {
    text-align: left;
  }
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.projects-col {
  flex: 0 0 100%;
}
@media (min-width: 640px) {
  .projects-col {
    flex: 0 0 45%;
  }
}
@media (min-width: 1024px) {
  .projects-col {
    flex: 0 0 30%;
  }
}
@media (min-width: 1280px) {
  .projects-col {
    flex: 0 0 23.2%;
  }
}

.projects-item {
  background: #fff;
  border-radius: 25px;
  padding: 20px;
}

.projects-item__link {
  display: block;
  margin-bottom: 15px;
}

.projects-item__img {
  display: block;
}

.projects-item__tags {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 5px;
  margin-bottom: 15px;
}
.projects-item__tags > a {
  background: #FFB703;
  border-radius: 60px;
  color: #2F2F2F;
  padding: 5px 10px;
}

.projects-item__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.projects-item__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.projects-item__btn {
  background: #FB8500;
  border-radius: 50px;
  display: block;
  padding: 8px;
  flex: 0 0 36px;
}
.projects-item__btn > img {
  display: block;
}

.experience {
  background: #1E1E1E;
  color: #fff;
  padding: 100px 0;
}

.experience-title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.experience-title__first {
  font-size: 26px;
  font-weight: 400;
}
.experience-title__last {
  color: #FB8500;
  font-style: italic;
  font-weight: 400;
}

.experience-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (min-width: 1024px) {
  .experience-grid {
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
}

.experience-col:nth-child(1) {
  flex: 0 0 40%;
}
.experience-col:nth-child(2) {
  flex: 0 0 40%;
}

.experience-item {
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 25px;
  color: #2F2F2F;
  padding: 20px 20px 25px;
}
@media (min-width: 640px) {
  .experience-item {
    padding: 30px;
  }
}

.experience-item__title {
  border-bottom: 1px solid #EBEBEB;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 15px;
}

.experience-item__icon {
  background: #FB8500;
  border-radius: 50px;
  display: inline-flex;
  padding: 10px;
}
.experience-item__icon > img {
  display: block;
  width: 26px;
}

.experience-train {
  border-left: 4px solid #EBEBEB;
  padding-left: 15px;
  margin-bottom: 25px;
}
.experience-train:last-child {
  margin-bottom: 0;
}

.experience-train__date {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.experience-train__title {
  font-size: 26px;
  margin-bottom: 5px;
}

.experience-train__course {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}

.contact {
  padding: 100px 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .contact {
    text-align: left;
  }
}

.contact-grid {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media (min-width: 1024px) {
  .contact-grid {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}

.contact-col:nth-child(1) {
  flex: 0 0 50%;
}
.contact-col:nth-child(2) {
  flex: 0 0 40%;
}

.contact-title {
  font-size: 50px;
  font-weight: 700;
}
.contact-title__first {
  color: #FB8500;
  font-weight: 400;
  font-style: italic;
}

.form {
  background: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1019607843);
  padding: 30px;
}

.form__title {
  font-weight: 500;
}

.form-field {
  margin-bottom: 20px;
}

.input {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #1E1E1E;
  padding: 12px;
}
.input::placeholder {
  color: rgba(30, 30, 30, 0.5);
}

.input-full {
  display: block;
  width: 100%;
}

.foot {
  background: #F4F4F4;
  padding: 30px 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .foot {
    text-align: left;
  }
}

.foot-title {
  border-bottom: 1px solid #000000;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 15px;
}
.foot-title__first {
  color: #FB8500;
  font-weight: 400;
  font-style: italic;
}

.foot-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (min-width: 1024px) {
  .foot-grid {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.foot-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 1024px) {
  .foot-nav {
    align-items: center;
    flex-direction: row;
  }
}

.foot-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 35px;
}
.foot-social > a {
  background: #FB8500;
  border-radius: 50px;
  display: inline-flex;
  padding: 10px;
  height: 46px;
}
.foot-social > a > img {
  display: block;
  width: 26px;
}
@media (min-width: 1024px) {
  .foot-social {
    padding-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
